In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("german_credit.csv")

In [6]:
df.columns

Index(['default', 'account_check_status', 'duration_in_month',
       'credit_history', 'purpose', 'credit_amount', 'savings',
       'present_emp_since', 'installment_as_income_perc',
       'personal_status_sex', 'other_debtors', 'present_res_since', 'property',
       'age', 'other_installment_plans', 'housing', 'credits_this_bank', 'job',
       'people_under_maintenance', 'telephone', 'foreign_worker'],
      dtype='object')

In [35]:
X = df.drop(['default'],axis=1)
X.shape
len(df['account_check_status'].value_counts().index)

4

In [36]:
df['account_check_status'].value_counts()[0]

394

In [24]:
sum(df['default']==0)

700

In [38]:
sum((df['account_check_status']=='no checking account')&(df['default']==0))

348

In [41]:
df['account_check_status'].value_counts()[1]

274

In [49]:
col = 'account_check_status'
print(range(len(df[col].index)))
for k in range(len(df[col].value_counts().index)):
    print(sum((df[col]==df[col].value_counts().index[k])&(df['default']==0)))
    print(df[col].value_counts()[k])
    print(sum((df[col]==df[col].value_counts().index[k])&(df['default']==0))/df[col].value_counts()[k])

range(0, 1000)
348
394
0.883248730964467
139
274
0.5072992700729927
164
269
0.6096654275092936
49
63
0.7777777777777778

In [50]:
for col in X.columns:
    if df[col].dtype == object:
        print(col)
        print(df[col].value_counts())
        print(df[col].value_counts()/1000)
        for k in range(len(df[col].value_counts().index)):
            print(sum((df[col]==df[col].value_counts().index[k])&(df['default']==0))/df[col].value_counts()[k])

account_check_status
no checking account                                   394
< 0 DM                                                274
0 <= ... < 200 DM                                     269
>= 200 DM / salary assignments for at least 1 year     63
Name: account_check_status, dtype: int64
no checking account                                   0.394
< 0 DM                                                0.274
0 <= ... < 200 DM                                     0.269
>= 200 DM / salary assignments for at least 1 year    0.063
Name: account_check_status, dtype: float64
0.883248730964467
0.5072992700729927
0.6096654275092936
0.7777777777777778
credit_history
existing credits paid back duly till now                       530
critical account/ other credits existing (not at this bank)    293
delay in paying off in the past                                 88
all credits at this bank paid back duly                         49
no credits taken/ all credits paid back duly                    40
Name: credit_history, dtype: int64
existing credits paid back duly till now                       0.530
critical account/ other credits existing (not at this bank)    0.293
delay in paying off in the past                                0.088
all credits at this bank paid back duly                        0.049
no credits taken/ all credits paid back duly                   0.040
Name: credit_history, dtype: float64
0.6811320754716981
0.8293515358361775
0.6818181818181818
0.42857142857142855
0.375
purpose
domestic appliances             280
car (new)                       234
radio/television                181
car (used)                      103
business                         97
(vacation - does not exist?)     50
education                        22
furniture/equipment              12
repairs                          12
retraining                        9
Name: purpose, dtype: int64
domestic appliances             0.280
car (new)                       0.234
radio/television                0.181
car (used)                      0.103
business                        0.097
(vacation - does not exist?)    0.050
education                       0.022
furniture/equipment             0.012
repairs                         0.012
retraining                      0.009
Name: purpose, dtype: float64
0.7785714285714286
0.6196581196581197
0.6795580110497238
0.8349514563106796
0.6494845360824743
0.56
0.6363636363636364
0.5833333333333334
0.6666666666666666
0.8888888888888888
savings
... < 100 DM                   603
unknown/ no savings account    183
100 <= ... < 500 DM            103
500 <= ... < 1000 DM            63
.. >= 1000 DM                   48
Name: savings, dtype: int64
... < 100 DM                   0.603
unknown/ no savings account    0.183
100 <= ... < 500 DM            0.103
500 <= ... < 1000 DM           0.063
.. >= 1000 DM                  0.048
Name: savings, dtype: float64
0.6401326699834162
0.825136612021858
0.6699029126213593
0.8253968253968254
0.875
present_emp_since
1 <= ... < 4 years    339
.. >= 7 years         253
4 <= ... < 7 years    174
... < 1 year          172
unemployed             62
Name: present_emp_since, dtype: int64
1 <= ... < 4 years    0.339
.. >= 7 years         0.253
4 <= ... < 7 years    0.174
... < 1 year          0.172
unemployed            0.062
Name: present_emp_since, dtype: float64
0.6932153392330384
0.7470355731225297
0.7758620689655172
0.5930232558139535
0.6290322580645161
personal_status_sex
male : single                          548
female : divorced/separated/married    310
male : married/widowed                  92
male : divorced/separated               50
Name: personal_status_sex, dtype: int64
male : single                          0.548
female : divorced/separated/married    0.310
male : married/widowed                 0.092
male : divorced/separated              0.050
Name: personal_status_sex, dtype: float64
0.7335766423357665
0.6483870967741936
0.7282608695652174
0.6
other_debtors
none            907
guarantor        52
co-applicant     41
Name: other_debtors, dtype: int64
none            0.907
guarantor       0.052
co-applicant    0.041
Name: other_debtors, dtype: float64
0.7001102535832414
0.8076923076923077
0.5609756097560976
property
if not A121/A122 : car or other, not in attribute 6                 332
real estate                                                         282
if not A121 : building society savings agreement/ life insurance    232
unknown / no property                                               154
Name: property, dtype: int64
if not A121/A122 : car or other, not in attribute 6                 0.332
real estate                                                         0.282
if not A121 : building society savings agreement/ life insurance    0.232
unknown / no property                                               0.154
Name: property, dtype: float64
0.6927710843373494
0.7872340425531915
0.6939655172413793
0.564935064935065
other_installment_plans
none      814
bank      139
stores     47
Name: other_installment_plans, dtype: int64
none      0.814
bank      0.139
stores    0.047
Name: other_installment_plans, dtype: float64
0.7248157248157249
0.5899280575539568
0.5957446808510638
housing
own         713
rent        179
for free    108
Name: housing, dtype: int64
own         0.713
rent        0.179
for free    0.108
Name: housing, dtype: float64
0.7391304347826086
0.6089385474860335
0.5925925925925926
job
skilled employee / official                                      630
unskilled - resident                                             200
management/ self-employed/ highly qualified employee/ officer    148
unemployed/ unskilled - non-resident                              22
Name: job, dtype: int64
skilled employee / official                                      0.630
unskilled - resident                                             0.200
management/ self-employed/ highly qualified employee/ officer    0.148
unemployed/ unskilled - non-resident                             0.022
Name: job, dtype: float64
0.7047619047619048
0.72
0.6554054054054054
0.6818181818181818
telephone
none                                         596
yes, registered under the customers name     404
Name: telephone, dtype: int64
none                                         0.596
yes, registered under the customers name     0.404
Name: telephone, dtype: float64
0.6862416107382551
0.7202970297029703
foreign_worker
yes    963
no      37
Name: foreign_worker, dtype: int64
yes    0.963
no     0.037
Name: foreign_worker, dtype: float64
0.6926272066458983
0.8918918918918919